{
    "$schema": "https://json.schemastore.org/prettierrc",
    "semi": true,
    "printWidth": 200,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "trailingComma": "none",
    "tabWidth": 4
}
